<nav class="navbar container-fluid navbar-expand-lg bg-success text-white">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="#">Mercado Web</a>
    <div class="collapse navbar-collapse" id="navbarExample">
      <ul class="navbar-nav me-auto mb-0 ">
        <li class="nav-item ">
          <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Ofertas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Verduras</a></li>
            <li><a class="dropdown-item" href="#">Frutas</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Mercado Negro</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex align-items-center flex-column flex-lg-row">
        <span class="me-3">Tu Carrito</span>
        <a class="nav-link" href="#"><i class="bi bi-cart-fill"></i></a>
      </div>
    </div>
  </div>
</nav>